.video{
  &:nth-child(1n+2){
  margin-top: 16px;
  }
}

.video-list{
padding: 30px 0;
}

.video-content{
display: flex;
flex-direction: row;
}

.video-media{
margin-right: 16px;
max-width: 210px;
width:100%;
}

.video-title{
color: rgb(17, 17, 17);
font-size: 18px;
}

.channel-title{
color: rgba(17, 17, 17, 0.6);
font-size: 13px;
padding-top: 5px;
}

.video-description{
font-size: 13px;
color: rgb(136, 136, 136);
padding-top: 8px;
line-height: 18px;
}
